*{
    font-family: Roboto Condensed, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    /* background-color: #EEF5FF; */
    /* background-color: #001524; */
    background-color: #e2e2e2;
    position: relative;
    top: auto;

}