
#meet-our-team-section{
    background-color: #c2c0c0;
    /* need to set bordwe radius later */
    border-radius: 40% 60% 61% 39% / 49% 49% 51% 51% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
    scroll-margin-top: 4rem;
}
.collaboration-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collaboration-des{
    /* background-color: red; */
    font-family: "Roboto";
    font-size: 85%;
    padding: 2%;
}
.collaboration-header p{
    display: block;
    font-size: 2.2rem;
    font-weight: bolder;
    /* text-transform: uppercase; */
    font-family: "Roboto";
    /* background-color: red; */
}
.collaboration-container{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
}
.collab-grid{
    display: flex;
    flex-direction: column;
    flex-shrink: 1 ;
    border-radius: 10px;
    transition: 0.3s;
}
.collab-grid:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.team-image{
    width: 100%;
    height: 200px;
    background-color: red;
}
.collab-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.team-info{
    background-color: #f3f3f3;
    padding: 2%;
}
.name{
    font-size: 105%;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 0px;
    color: rgb(30, 28, 28);
}
.position{
    font-size: 88%;
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
    margin-bottom: 4%;
}
.personal-info{
    font-size: 80%;
    font-family: "Roboto", sans-serif;
}

.ready-to-work{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 2%;
    /* background-color: red; */
    width: 70%;
}
.work-with-me{
    text-align: center;
    font-size: 120%;
    font-family: "Roboto", sans-serif;
    color: rgb(26, 24, 24);
    font-weight: bold;
}
.hire-me{
    text-align: center;
    font-size: 80%;
    font-family: "Roboto", sans-serif;
    color: rgb(26, 24, 24);
    /* font-weight: bold; */
    padding: 1%;
}
.collab-contact-button{
    margin: 0;
    padding: 2px;
    /* display: inline-block; */
}
.collab-contact-button button{
    background-color: black;
    color: white;
    font-size: 80%;
    padding: 0.7rem 2rem;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}
.collab-contact-button button:hover{

    color: white;
    font-size: 80%;
    font-weight: bold;
    border-radius: 10px;
    margin: 0;
}
.team-social-media{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.fa{
    margin-bottom: 8px;
    padding: 0.15rem;
    width: 1rem;
    text-align: center;
    border-radius: 50%;
    color: black;
    background-color: rgb(22, 19, 19);
    color: white;
    text-decoration: none;
    font-size: 90%;
}